* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.promo {
  width: 1600px;
  height: 78px;
  background-color: #fff;
  position: relative;
}
.promo .container {
  width: 1320px;
  height: 78px;
  position: relative;
  margin: 0 auto;
  display: flex;
}
.promo .container .logo_text {
  margin-top: 30px;
  margin-bottom: 28px;
}
.promo .container .nav {
  margin-left: 680px;
  width: 368px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.promo .container .nav > a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #3C3C3C;
}
.promo .container .call_btn {
  display: flex;
  align-items: center;
  margin-left: 39px;
}
.promo .container .call_btn .btn_wrapper {
  width: 160px;
  height: 46px;
  border: 1px solid #B57AD2;
  box-sizing: border-box;
  border-radius: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.promo .container .call_btn .btn_wrapper > a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #B57AD2;
}
.start {
  width: 1600px;
  height: 680px;
  background: url("images/people.png") right no-repeat;
  position: relative;
}
.start .container {
  width: 1320px;
  height: 78px;
  position: relative;
  margin: 0 auto;
  display: flex;
}
.start .container .start_wrapper {
  margin: 199px 0 0 0;
}
.start .container .start_wrapper > h2 {
  width: 650px;
  color: #3C3C3C;
  font-size: 40px;
  line-height: 42px;
  font-family: Arial, Helvetica, sans-serif;
}
.start .container .start_wrapper > h3 {
  margin-top: 30px;
  font-family: Arial, Helvetica, sans-serif;
  color: #3C3C3C;
  font-size: 20px;
  line-height: 28px;
  font-weight: normal;
}
.start .container .start_wrapper .start_btn {
  margin-top: 83px;
  display: flex;
  align-items: center;
}
.start .container .start_wrapper .start_btn .btn_wrapper {
  width: 202px;
  height: 63px;
  background: #B57AD2;
  border-radius: 31.5422px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.start .container .start_wrapper .start_btn .btn_wrapper > a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: white;
}
.achievements {
  width: 1630px;
  height: 140.5px;
  background: url("images/Achievements.png") center no-repeat;
  position: relative;
}
.service {
  position: relative;
  width: 1600px;
  height: 824px;
}
.service .container {
  width: 1320px;
  position: relative;
  margin: 0 auto;
}
.service .container > h2 {
  margin-top: 30.5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
  line-height: 56px;
  color: #3C3C3C;
  text-align: center;
}
.service .container > h3 {
  margin-top: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 34px;
  color: #3C3C3C;
  text-align: center;
}
.service .container .service_wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 36px;
}
.service .container .service_wrapper .service_item {
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  height: 684px;
}
.service .container .service_wrapper .service_item .service_text {
  max-width: 495px;
  margin-top: 28px;
  margin-left: 25px;
  font-size: 22px;
  line-height: 26px;
  color: #3C3C3C;
  font-family: Arial, Helvetica, sans-serif;
}
.service .container .service_wrapper .service_item .service_list {
  margin-top: 21px;
  margin-left: 45px;
  font-size: 18px;
  line-height: 21px;
  color: #3C3C3C;
  font-family: Arial, Helvetica, sans-serif;
}
.service .container .service_wrapper .service_item li::marker {
  color: #B57AD2;
  font-size: 20px;
}
.service .container .service_wrapper .service_item li {
  margin-top: 20px;
}
.service .container .service_wrapper .service_item .read_more {
  margin-top: 23px;
  margin-left: 25px;
  background-color: #B57AD2;
  color: #fff;
  width: 202px;
  height: 63px;
  border-radius: 31.5422px;
  font-size: 18px;
  line-height: 21px;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
}
.procress {
  position: relative;
  width: 1600px;
  height: 742px;
}
.procress .container {
  width: 1093px;
  position: relative;
  margin: 0 auto;
}
.procress .container > h2 {
  margin-top: 105px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
  line-height: 56px;
  color: #3C3C3C;
  text-align: center;
  letter-spacing: -0.285714px;
}
.procress .container > h3 {
  margin-top: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 34px;
  color: #3C3C3C;
  text-align: center;
}
.procress .container .procress_wrapper {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(180deg, rgba(181, 122, 210, 0.776388) 0%, rgba(255, 244, 229, 0.0001) 136.98%), #F9F9F9;
  margin-top: 44px;
}
.procress .container .procress_wrapper .title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 23px;
  color: #3C3C3C;
  text-align: center;
  margin-top: 120px;
}
.procress .container .procress_wrapper .descr {
  font-size: 16px;
  line-height: 19px;
  color: #3C3C3C;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 295px;
  margin-top: 36px;
  margin-left: 25px;
}
.procress .container .procress_wrapper .image {
  width: 100%;
  text-align: center;
  margin-top: 115px;
}
.sause {
  position: relative;
  width: 1600px;
  height: 728px;
}
.sause .container {
  width: 1099px;
  position: relative;
  margin: 0 auto;
}
.sause .container > h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
  line-height: 56px;
  color: #2B292D;
  text-align: center;
  margin-top: 130px;
}
.sause .container > h3 {
  margin-top: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 34px;
  color: #3C3C3C;
  text-align: center;
}
.sause .container .sause_wrapper {
  display: flex;
  justify-content: space-between;
}
.sause .container .sause_wrapper .sause_item {
  margin-top: 71px;
}
.sause .container .sause_wrapper .sause_item .img {
  text-align: center;
}
.sause .container .sause_wrapper .sause_item .descr {
  width: 300px;
  margin-top: 20px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #3C3C3C;
}
.sause .container .sause_wrapper .sause_item .title {
  margin-top: 20px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  line-height: 30px;
  color: #3C3C3C;
  font-weight: bold;
}
.sause .container .start {
  margin-top: 23px;
  margin-left: 25px;
  background-color: #B57AD2;
  color: #fff;
  width: 202px;
  height: 63px;
  border-radius: 31.5422px;
  font-size: 18px;
  line-height: 21px;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  display: block;
  position: relative;
  margin: 0 auto;
  margin-top: 65px;
}
.message {
  background: linear-gradient(180deg, rgba(255, 244, 229, 0.0001) 0%, rgba(181, 122, 210, 0.776388) 136.98%), linear-gradient(179.61deg, #F9F4FC 0.33%, rgba(255, 244, 229, 0.0001) 99.67%);
  border-radius: 6px;
  position: relative;
  width: 1600px;
  height: 773px;
}
.message .container {
  width: 1320px;
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.message .container .img {
  margin-top: 117px;
}
.message .container .descr {
  width: 636px;
  margin-top: 149px;
}
.message .container .descr .title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 56px;
  line-height: 56px;
  color: #3C3C3C;
  font-weight: bold;
}
.message .container .descr .message_text {
  margin-top: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  line-height: 34px;
  color: #3C3C3C;
  font-weight: normal;
}
.message .container .descr .author {
  margin-top: 80px;
  width: 73px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #3C3C3C;
  font-weight: normal;
}
.message .container .descr .prof {
  margin-top: 16px;
  width: 180px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #3C3C3C;
  font-weight: normal;
}
